div.inner
    div.title-holder
        span.upper-title= translate('presentation-upper-title')
        h2= translate('presentation-title')
    
    div#play-button
        span.shadow
        span.circle

    div#presentation-video
        iframe(id='video' src='https://www.youtube.com/embed/8tW7swP1opA?autoplay=0&controls=1&showinfo=0&color=black' frameborder='0' allowfullscreen)