div#menu-holder
    nav.menu
        ul

            - var routes = getRoutes()

            each route in routes
                
                if (route.key !== 'order' && route.key !== 'showreel')
                    
                    li(class=isCurrentRoute(route.key) ? 'active' : '')
                        a(href=url(route.key))= translate(route.name)
    
    include presskit