doctype html
html(lang="en")
    head
        include ../includes/common/head
        include ../includes/common/favicons
        
        block css
    body
        div#page
            block content