doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")
    head
        include ../includes/common/head
        include ../includes/common/meta
        include ../includes/common/favicons
        
        block css

    body.__preload
        
        div#page
            block content

        div#landscape-overlay
            div.inner
                p= translate('landscape-title')

        block js