doctype html
html(lang="en", prefix="og: http://ogp.me/ns#")
    head
        include ../includes/common/head
        include ../includes/common/meta
        include ../includes/common/favicons
        
        block css
    body
        div#page.__loaded
            block content

        block js