footer
    a(href='http://cheersunlimited.com.ua' target='_blank' rel='nofollow')
        img(src='../images/cheers-logo.png' alt='CHEERS - Unlimited Web Production')
    small= translate('copyright')