meta(name="keywords", content= (meta && meta.keywords) ? meta.keywords : '')
meta(name="description", content= (meta && meta.description) ? meta.description : '')
meta(name="robots", content= (meta && meta.robots) ? meta.robots : '')
meta(property="og:type", content="website")
meta(property="og:title", content= (meta && meta.title) ? meta.title : '')
meta(property="og:description", content= (meta && meta.description) ? meta.description : '')
meta(property="og:url", content=absoluteUrl())
meta(property="og:image", content= (meta && meta.image) ? meta.image.secure_url : '')