extends blocks/layout

append css
    link(rel="stylesheet", href="/css/home.bundle.min.css")

block content

    include includes/loader

    header#header
        include includes/header/logo
        include includes/header/order

    include includes/menu/toggle-menu
    include includes/menu/circle-menu
    include includes/menu/menu
    include includes/menu/socials

    main#content
        section.container.intro-holder
            include sections/home/intro
        
        section.container.features-holder
            include sections/home/features
        
        section.container.tech-holder
            include sections/home/tech

        section.container.presentation-holder
            include sections/home/presentation

        section.container.emotions-holder
            include sections/home/emotions

        div#footer
            include includes/footer/button
            include includes/footer/copyright

append js
    script(src="/js/home.bundle.dev.js")