extends layout

append css

block content

    h1= title

    include common/lang

    p= translate('test')

    each test, index in testList

        article.test
            h2= test.title
            p= test.text

append js