- 
    var locales = getLocales()
    var currentLocale = getCurrentLocale()

ul
    each locale in locales
        li(class=(currentLocale === locale) ? 'active' : null)
            a(href=absoluteUrl(locale))= locale